[Unit]
Description=Air Tower MQTT Daemon
Documentation=https://github.com/lecodevert/air_tower

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/air_tower/
ExecStart=/opt/air_tower/bin/python3 /opt/air_tower/daemon.py
StandardOutput=journal
StandardError=journal
EnvironmentFile=/opt/air_tower/conf.env
Restart=always

[Install]
WantedBy=multi-user.target
